{% extends 'base.html' %}

{% block title %} Consultar Producto {% endblock %}

{% block conte %}
<div class="panel panel-info offer">
	<div class="panel-heading">
		<h3>Detalles del Producto</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<tr>
				<td><strong>Codigo de barras</strong></td>
				<td>{{object.codigo}}</td>
			</tr>
			<tr>
				<td><strong>Producto</strong></td>
				<td>{{object.descripcion}}</td>
			</tr>
			<tr>
				<td><strong>Precio unitario</strong></td>
				<td>{{object.punitario}}</td>
			</tr>
			<tr>
				<td><strong>Precio al mayoreo</strong></td>
				<td>{{object.pmayoreo}}</td>
			</tr>
			<tr>
				<td><strong>Inventario</strong></td>
				<td>{% if object.inventario == True %}Si{% else %}No{% endif %}</td>
			</tr>
			<tr>
				<td><strong>Cantidad de inventario</strong></td>
				<td>{% if object.cantidad == None %}---{% else %}{{object.cantidad}}{% endif %}</td>
			</tr>
			<tr>
				<td><strong>Minimo de unidades </strong></td>
				<td>{% if object.minimo == None %}---{% else %}{{object.minimo}}{% endif %}</td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		<a href="{% url 'Producto:url_actualizar' object.id %}" class="btn btn-warning">
			<span class="glyphicon glyphicon-floppy-open"></span> Editar
		</a>
		<a href="{% url 'Producto:url_eliminar' object.id %}" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-floppy-remove"></span> Eliminar
		</a>
	</div>
</div>
{% endblock %}