{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block conte %}
	<div class="panel panel-info offer">
		<div class="panel-heading">
			<form id="formxD">
				<div class="form-group">
					<label for="codigo">Codigo de barras</label>
                    <button id="cancelar" type="button" class="btn btn-danger btn-xs pull-right">Cancelar cuenta</button>
					<input type="text" class="form-control" id="codigo" name="codigo" placeholder="Introduce el codigo de barras del producto">
				</div>
			</form>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Producto</td>
						<td>Precio</td>
						<td>Mayoreo</td>
					</tr>
				</thead>
				<tbody id='tbusqueda'> 
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<table class="table table-hover">
				<thead>
					<tr>
                        <td>Codigo</td>
						<td>Producto</td>
						<td>Precio</td>
						<td>Mayoreo</td>
						<td></td>
					</tr>
				</thead>
				<tbody id="tVentaProd">
                    {% if data %}
                        {% for item in data %}
                            <tr class="success">
                                <td class="cod">{{item.codigo}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.punitario}}</td>
                                <td>{{item.pmayoreo}}</td>
                                <td>{{item.cantidad}}</td>
                                <td><button type="button" class="btn btn-success btn-xs aumentar"><span class="glyphicon glyphicon-plus-sign"></span></button><button type="button" class="btn btn-warning btn-xs eliminar pull-right"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
				</tbody>
				<tfoot>
					<tr class="success">
						<td>Total:</td>
						<td class="total">{{precio}}</td>
                        <td></td>
                        <td></td>
						<td>Subtotal:</td>
						<td></td>
					</tr>  
				</tfoot>
			</table>
		</div>
	
	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
        var $codigo = $('#codigo')
            $tablaVenta = $('#tVentaProd')
            $totalVenta = $('.total')

        //funciones
        function Cancelar(e){
            $.ajax({
                async : false,
                url : '{% url "Venta:url_cancelar_cuenta_ajax" %}',
                type : 'get',
                success : function(data){
                    $tablaVenta.html('');
                    $totalVenta.html('');
                }
            });
            $codigo.focus();
        }

        function AumentarFil(e){
        	var parent = $(this).parent().parent().html();
            var cod = $(parent).html();
            $.ajax({
                async: false,
                data : {'cod': cod},
                url : '{% url "Venta:url_aumentar_prod_ajax" %}',
                type : 'get',
                success : function(data){
                    var htmlp = ''
                    $.each(data.cuenta, function(i, item){
                        htmlp = htmlp+'<tr class="success"><td class="cod">'+item.codigo+'</td><td>'+item.descripcion+'</td><td>'+item.punitario+'</td><td>'+item.pmayoreo+'</td><td>'+item.cantidad+'</td><td><button type="button" class="btn btn-success btn-xs aumentar"><span class="glyphicon glyphicon-plus-sign"></span></button><button type="button" class="btn btn-warning btn-xs eliminar pull-right"><span class="glyphicon glyphicon-minus-sign"></span></button></td></tr>'
                    });
                    $tablaVenta.html(htmlp);
                    $totalVenta.html(data.precio)
                }
            });
            $codigo.focus();
        }

        function EliminarFil(e){
        	var parent = $(this).parent().parent().html();
            var cod = $(parent).html();
            $.ajax({
                async: false,
                data : {'cod': cod},
                url : '{% url "Venta:url_remover_prod_ajax" %}',
                type : 'get',
                success : function(data){
                    var htmlp = ''
                    $.each(data.cuenta, function(i, item){
                        htmlp = htmlp+'<tr class="success"><td class="cod">'+item.codigo+'</td><td>'+item.descripcion+'</td><td>'+item.punitario+'</td><td>'+item.pmayoreo+'</td><td>'+item.cantidad+'</td><td><button type="button" class="btn btn-success btn-xs aumentar"><span class="glyphicon glyphicon-plus-sign"></span></button><button type="button" class="btn btn-warning btn-xs eliminar pull-right"><span class="glyphicon glyphicon-minus-sign"></span></button></td></tr>'
                    });
                    $tablaVenta.html(htmlp);
                    $totalVenta.html(data.precio)
                }
            });
            $codigo.focus();
        }

        function Buscarpro(e){
            var dato = $codigo.val();
            $.ajax({
                async: false,
            	data : {'cod': dato},
            	url : '{% url "Venta:url_buscar_ajax" %}',
            	type : 'get',
            	success: function(data){
                    var htmlp = ''
                    $.each(data.cuenta, function(i, item){
                        htmlp = htmlp+'<tr class="success"><td class="cod">'+item.codigo+'</td><td>'+item.descripcion+'</td><td>'+item.punitario+'</td><td>'+item.pmayoreo+'</td><td>'+item.cantidad+'</td><td><button type="button" class="btn btn-success btn-xs aumentar"><span class="glyphicon glyphicon-plus-sign"></span></button><button type="button" class="btn btn-warning btn-xs eliminar pull-right"><span class="glyphicon glyphicon-minus-sign"></span></button></td></tr>'
                    });
                    $tablaVenta.html(htmlp);
                    $totalVenta.html(data.precio)

            	}
            });
            $codigo.val('').focus();
            return false;
        }

        //Eventos
	    $(document).ready($codigo.focus());

        $('#cancelar').on('click', Cancelar);

        $tablaVenta.on('click', '.aumentar', AumentarFil);

        $tablaVenta.on('click', '.eliminar', EliminarFil);

        $('#formxD').on('submit',Buscarpro);

    </script>
    
{% endblock %}